# Ignore IntelliJ Idea #
.idea
# Ignore Play! working directory #
conf/evolutions
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache

# Ignore vim files
*.swp
